
body{
    background-color: black;
    margin:0;
    
    }
.showcase{
    position: relative;
    width: 100%;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.test-video{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  overflow: hidden;

}
video{
    width:100%;
    
}
.video2{
    display:none;
}
/* dont delete this */
img{
    width:100%;
}

.blur{
    position:absolute;
    top:70%;
    bottom:-30;
    width:100%;
    
    z-index: 2;
    background: linear-gradient(
        to top,
        black,
        transparent
    );
    
}



.intro{
    display: block; 
     position :relative;
}

.intro p{
    
    /* background-color:teal; */
    text-align: center;
    color:aliceblue;
    font-size: 1.5rem;
    font-family: 'EB Garamond', serif;
    /* padding:5rem; */
    margin:2rem;
}

.lang_icons{
    display:block;
    position:relative;
  margin-left: auto;
  margin-right: auto;
  width: 3%;

}
.menu1{
    grid-area:left;
}
.menu2{
    grid-area:middle1;
}
.menu3{
    grid-area:middle2;
}
.menu4{
    grid-area:right;
}

.menu{
    position:relative;
    display:grid;
    grid-template-areas:"left middle1 middle2 right"
}
@media screen and (max-width:800px){
    .menu{
       
        text-align: center;
        display:block;
        /* grid-template-areas:"left"
        "middle1"
        "middle2"
        "right" */
    }
    .intro p{
        font-size:1.2rem;
        padding-top:2rem;
        padding-bottom:2rem;
        padding-right:1rem;
        padding-left:1rem;
        margin:0;
    }
    .video1{
        display:none;
    
    }
    .video2{
        display:block;
    }
    img{
        width:50%;
       
    }
}

/*page one*/
.article{
    grid-area: text;
}
.article p{
    position:scroll;
    color:white;
    margin:2rem;
    margin-left: 6rem;
    margin-right: 6rem;
    font-family: 'EB Garamond', serif;
    font-size:1.2rem;
    text-align: left;
    text-indent: 2rem;
    
}
/* .menu_page{
    position:fixed;
    bottom:10px;
    display:grid;
    grid-template-areas:"left middle1 middle2 right"
} */

/* .space{
    padding:8rem;
} */
.article .note{
    font-size:0.9rem;
}
.menu_intro{
    grid-area: intro;
}
.menu_one{
    grid-area: menu1;
}
.menu_two{
    grid-area: menu2;
}
.menu_three{
    grid-area: menu3;
}
.menu_four{
    grid-area: menu4;
}
.grid-page{
   
    display:grid;
    grid-template-areas: 
    /* 'text text text intro' */
    'text text text intro'
    'text text text menu1'
    'text text text menu2'
    'text text text menu3'
    'text text text menu4';
}
@media screen and (max-width:800px){
.grid-page{
    display:block;
    margin:auto;
    align-items: center;
}
.article p{
    font-size: 0.6rem;
    margin:0.2rem;
    padding:5%;
}
.menu_intro{
    width:60%;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
.menu_one{
    width:60%;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
.menu_two{
    width:60%;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
.menu_three{
    width:60%;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
.menu_four{
    width:60%;
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}

}